@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  /*thin-100 light-300 regular-400 bold-700 black-900*/
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  height: 100%;
}

mark {
  background-color: #c6ffea;
}
